################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/stack-simple-calculator/.vs/stack-simple-calculator
